*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background: #100e19;
    color: grey;
    font-weight: 800;
    padding: 15px 0;
}
.header__left{
    display: flex;
    column-gap: 40px;
}
.header__menu{
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 80px;
}
.header__menu li:hover{
    color: white;
    cursor: pointer;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header__see{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #f30745;
    background: transparent;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.header__see:hover {
    background-color: #f30745;
    transition: 0.3s;
}

.banner{
    background: #100e19;

}
.banner__one{
    background: url("https://thumbs.dfs.ivi.ru/storage38/contents/7/9/2616acbb4246c54e2a50bb8df37f3d.jpg")center/cover no-repeat;
    height: 420px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 40px;
    color: white;
    padding-bottom: 80px;
}
.banner__title{
    font-size: 66px;
    width: 35%;
}
.banner__desc{
    margin: 40px 0;
    width: 35%;
    font-size: 22px;
    font-weight: 700;


}
.banner__btn{
    width: 220px;
    height: 45px;
    border-radius: 25px;
    background: #f30745;
    color: white;
    font-weight: 800;
    border: none;
}
.banner__btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.banner__btns button{
    width: 47%;
    height: 70px;
    text-align: center;
    color: white;
    font-weight: 800;
    border-radius: 25px;
    background: #100e19;
}
.new{
    padding: 40px 0;
    background: #100e19;
}
.new__one{
    width: 155px;
    height: 245px;

}
.new__title{
    color: white;
    margin-bottom: 30px;
}
.new__back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: transform 0.4s ease;
    transform-origin: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.new__one__title{
    color: #d9d7e0;
    font-weight: 500;
    font-size: 15px;
}
.new__pod{
    color: #f30745;
}

/* .swiper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
} */

.swiper-wrapper{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin-bottom: 50px;
}
.new__back:hover .new__back__effect{
    transform: scale(1.1);
    opacity: 0.9;
}

.new__back:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.new__back__effect {
    opacity: 0;
    transform-origin: bottom;
    background-color: #100e19;
    width: 92%;
    height: 92%;
    border-radius: 15px;
    color: aliceblue;  
    padding: 12px;  
    font-size: 100%;
}

.newBackEffectNavigator {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: flex-end;
    margin-bottom: 3px;
}

.newBackEffectRating {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.newBackEffectRatingYear {
    margin: 10px 0 10px;
    font-size: 14px;
}

.newBackEffectRatingTime {
    font-size: 14px;
}

.blockEffect {
    background-color:  #100e19;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
}

.leftEffect {
    padding: 10px;
    width: 50%;
}

.leftEffect p {
    margin: 10px 0;
}

.blockEffectInfoCart {
    width: 180px;
    height: 120px;
    border-radius: 10px;
    border: none;
    background-color:#312b45;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.blockEffectInfoCartLong {
    width: 380px;
    height: 120px;
    border-radius: 10px;
    border: none;
    background-color:#312b45;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blockEffectInfo {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.leftEffectFooter {
    display: flex;
    column-gap: 10px;
    margin-top: 30px;
    align-items: center;
}

.leftEffectFooter button{
    width: 480px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #f30745;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.leftEffectFooter button:hover {
    background-color: #f30745;
    transition: 0.3s;
}

.leftEffectFooter p {
    color: gray;
}

.rightEffect {
    position: relative;
    width: 45%;
    background: url("https://thumbs.dfs.ivi.ru/storage38/contents/7/9/2616acbb4246c54e2a50bb8df37f3d.jpg/392x600/?q=60")center/cover no-repeat;
}

.rightEffect a {
    color: white;
    font-size: 18px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.header__signOut {
    display: none;
    cursor: pointer;
}

.accountName {
    display: none;
}

.movieEffect {
    height: 445px;
    width: 100%;
    background-color:  #100e19;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
}

.movieSerEffect {
    height: 445px;
    width: 100%;
    background-color:  #100e19;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
}

.movieCarEffect {
    height: 445px;
    width: 100%;
    background-color:  #100e19;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
}

.footer_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #36353e;
    border-bottom: 1px solid #36353e;
    color: #7e7d83;
    padding: 48px 0;
}

.footer_box h3{
    color: white;
    line-height: 20px;
}

.footer_box ul li{
    cursor: pointer;
}
.footer_box ul li:hover{
    color: white;
    font-size: 17px;
}

footer{
    background: #110f1b;

}
.about_us{
    width: 23.75%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.about_us ul{
    display: grid;
    row-gap: 8px;
}
.email_btn{
    width: 40px;
    height: 40px;
    background: #2e2844;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.email_img{
    width: 18px;
    height: 18px;
}
.partition{
    width: 23.75%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.partition ul{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.chat{
    height: 40px;
    width: 196px;
    background-color: #1f1b2e;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.support_service{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 23.75%;
}

.support_service h3{
    cursor: pointer;
}
.footer_icon{
    width: 23.75%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.no_Adds{
    height: 104px;
    width: 104px;
    background-color: #a869f0;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.no_Adds_img{
    width: 56px;
    height: 56px;
}

.partition ul a{
    color: #c30744;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
}

.swiper-button-next {
    position: absolute;
    right: 10px;
}

.header__right{
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: space-between;
}

.search_box{
    display: flex;
    align-items: center;
}

.search_box img{
    width: 18px;
    height: 18px;
}

.header__search{
    background: none;
    border: none;
    color: #828187;
    font-size: 15px;
    cursor: pointer;
}

.header__search:hover{
    color: white;
    font-size: 17px;
}

.header__uv{
    background: none;
    border: none;
    cursor: pointer;
}

.header__uv img{
    width: 20px;
    height: 20px;
}

.header__uv img:hover{
    width: 22px;
    height: 22px;
}

.auth_box{
    display: flex;
    align-items: center;
    /* width: 85px; */
    height: 35px;
    cursor: pointer;
    background-color: #1f1b2e;
    border: none;
    border-radius: 8px;
}

.auth_box img{
    width: 18px;
    height: 18px;
}

.header__auth{
    background: none;
    border: none;
}

.header__auth a{
    color: #828187;
    text-decoration: none;
    font-size: 15px;
}

.header__auth a:hover{
    color: white;
    font-size: 16px;
}

.signIn_box{
    display: flex;
    align-items: center;
    height: 35px;
    cursor: pointer;
    background-color: #1f1b2e;
    border: none;
    border-radius: 8px;
}

.signIn_box img{
    width: 18px;
    height: 18px;
}


.header__signIn{
    background: none;
    border: none;
}

.header__signIn a{
    color: #828187;
    text-decoration: none;
    font-size: 15px;
}

.header__signIn a:hover{
    color: white;
    font-size: 16px;
}